*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.banner{
    padding-top: 10vh;
    background-color: orange;
    padding-bottom: 10vh;
}

.banner>h2{
    color: white;
    text-align: center;
    font-size: 5vw;
    text-shadow: 5px 4px 4px rgba(0,0,0,0.6);
}

.signin{
    background-color: #f1f1f1;
    text-align: center;
    padding: 2vh;
}


form{
    padding-left: 15%;
    padding-right: 15%;
}

.logocontainer{
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10vh;
    padding: 0;
}

.logo{
    width: 20%;
}

.container{
    margin-top: 5%;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

button{
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

