// Color Template
.color-primary{
    color : $color-primary;
}

.color-primary-bg{
    background : $color-primary;
}

.color-second{
    color : $color-second;
}

.color-second-bg{
    background : $color-second;
}

.color-green{
    color : $color-green;
}

.color-green-bg{
    background : $color-green;
}

.color-yellow{
    color : $color-yellow;
}

.color-yellow-bg{
    background : $color-yellow;
}

