$font-roboto: "Roboto", cursive;
$font-openSans: "Open Sans", cursive;
$font-notoSans: "Noto Sans", cursive;
$font-rubik: "Rubik", cursive;
$color-primary: #ebac00;
$color-second: #ad723b; 
$color-green: #00ff55;
$color-yellow: #73ff00;
